.container {
    display: grid;
    grid-template-rows: 25% 40% 10% 25%;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "header header header" "navigation main right-aside" "navigation middle-aside right-aside" "footer footer right-aside";
}

.header {
grid-area: header;
}

.navigation {
grid-area: navigation;
}

.main {
grid-area: main;
}

.middle-aside {
grid-area: middle-aside;
}

.right-aside {
grid-area: right-aside;
}

.footer {
grid-area: footer;
}