body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 20% 45% 15% 20%;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: 'header header header' 'navigation main right-aside' 'navigation middle-aside right-aside' 'footer footer right-aside';
}

.header,
.navigation,
.main,
.middle-aside,
.right-aside,
.footer {
    padding: 2%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63b995;
    grid-area: header;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #adeee3;
    grid-area: navigation;
    padding: 15%;
}

.navigation__link {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.navigation__link:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.main {
    display: flex;
    align-items: center;
    background-color: white;
    grid-area: main;
}

.middle-aside {
    background-color: #a6c36f;
    grid-area: middle-aside;
}

.right-aside {
    background-color: #87bdc2;
    grid-area: right-aside;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c6d4ff;
    grid-area: footer;
}

#main-img {
    margin: auto;
    width: 35%;
    height: auto;
}

.main__map-img {
    margin: auto;
    width: 60%;
    height: auto;
}
