body {
    margin: 0;
}
.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 20% 45% 15% 20%;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "header header header" "navigation main right-aside" "navigation middle-aside right-aside" "footer footer right-aside";
}

.header {
    background-color: aqua;
    grid-area: header;
}

.navigation {
    background-color: coral;
    grid-area: navigation;
}

.main {
    background-color: white;
    grid-area: main;
}

.middle-aside {
    background-color: seagreen;
    grid-area: middle-aside;
}

.right-aside {
    background-color: coral;
    grid-area: right-aside;
}

.footer {
    background-color: aqua;
    grid-area: footer;
}