:root {
    --header-background: #63b995;
    --navigation-background: #adeee3;
    --main-background: white;
    --middle-aside-background: #a6c36f;
    --right-aside-background: #87bdc2;
    --footer-background: #c6d4ff;
}
